<%= form_for(ehi) do |f| %>
  <% if ehi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ehi.errors.count, "error") %> prohibited this ehi from being saved:</h2>

      <ul>
      <% ehi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
