<div class='form'>

<h1>Editing Payment Options</h1>
<h1>For <%= Patient.find_by_id(@patient_id).firstname %>&nbsp<%= Patient.find_by_id(@patient_id).lastname %></h1>

<%= render 'form', paymethod: @paymethod %>

<%= link_to 'Back', controller: "patients", action: "show", id: @patient_id %> 
</div>
