<div class='paymethod'>
<h1>Payment Options</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @paymethods.each do |paymethod| %>
      <tr>
        <td><%= paymethod.paytype %></td>
        <td><%= link_to 'Edit', edit_paymethod_path(paymethod) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paymethod', new_paymethod_path(:patient_id => @patient.id) %>

</div>
