<p id="notice"><%= notice %></p>

<%=@paymethod.paytype %>

<%= link_to 'Edit', edit_paymethod_path(@paymethod) %> |
<%= link_to 'Back', controller: "patients", action: "show", id: @paymethod.patient_id %> 
